ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

img {
    min-width: 330px;
    max-width: 330px;
    min-height: 200px;
    max-height: 200px;
}

ul li a{
    height: 20rem;
    width: 20rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #e72929;
}

li a:hover {
    opacity: 0.8;
    cursor: pointer;
}

.content {
    padding: .5rem 1rem;
    position: relative;
}

.favorite {
    position: absolute;
    top: .5rem;
    right: 1rem;
    font-size: 1.1rem;
}

.favorite.not{
    color: black;
}

.product-item-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.origins {
    flex: 9;
}

.origins span {
    border-radius: 2rem;
    background-color: whitesmoke;
    color: grey;
    font-size: .9rem;
    margin-right: .3rem;
    display: inline-block;
}

.cook-time {
    font-size: 0.9rem;
}

.price {
    color: #424242;
    margin-top: .2rem;
}